body{
	color: white;
	font-family: 'poppins', sans-serif;
	background: linear-gradient(to right, #ec38bc, #7303c0, #ce79ff);
}
.container
{
	height: 100%;
	width: 100%;
}
.login
{
	position: absolute;
	height: 500px;
	width: 50%;
	justify-content: center;
	display: flex;
	padding: 10px, 0px;
}

form
{
	background: rgba(0, 0, 0, 0.6);
	padding: 30px;
}
.avatar img
{
	height: 120px;
	width: 120px;

}



.icon{
    position: absolute;
    height: 60%;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    opacity: 0.3;
    cursor: pointer;
}

.icon:hover{
    opacity: 0.8;
}