/*
================================================================================================
=                            Resetear estilos con selector universal                           =
================================================================================================
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/*
================================================================================================
=                            Estilos para el loader "cargando..."                              =
================================================================================================
*/
#loader{
    /* position: absolute; */
    right: 0;
	background-color: rgba(0, 0, 0, 0.50);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5);
	-moz-backdrop-filter: blur(10px);
}
.loader {
    border: 16px solid #dadada; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 4em auto;
    transition: all ease-in-out .8s ;
    display: none;
}
.show_loader {
    transition: all ease-in-out .8s ;
    display: block;
}
#sub_loader{
    position: absolute;
    z-index: 3;
    right: 1em;
    top: -7em;
}
.sub_loader{
    margin: 10em auto;
    border: 8px solid #d6d6d6; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;  
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*
================================================================================================
=                            Estilos para el color del texto                                   =
================================================================================================
*/
.text-white{ color: #ffffff !important;}
.text-white-hover:hover{ color: #ffffff !important;}
.text-white-focus:focus{ color: #ffffff !important;}

.text-black{color:#000000 !important;}
.text-black-focus:focus{color:#000000 !important;}
.text-black-hover:hover{color: #000000 !important;}

/*
================================================================================================
=                            Estilos para el tamaño del texto                                  =
================================================================================================
*/
.size-0{font-size: 1.2em !important;}
.size-1{font-size: 2em !important;}
.size-2{font-size: 4em !important;}
.size-3{font-size: 6em !important;}
.size-4{font-size: 8em !important;}

